<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stripe Look See</title>
    <style>
      html {
        block-size: 100%;
      }
      body {
        min-block-size: 100%;
        display: grid;
        place-content: center;
        background-image: url("//unsplash.it");
      }
    </style>
  </head>
  <body>
    {{content | safe}}
  </body>
</html>